.home-page{
}

.home-content {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.home-icon-title {
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.sub-title{
  font-size: 12px;
  margin-top: 8px;
}
