<div class="popup-window">
  <div>
    <div class="row">
      <div class="half-popup-line-left">{{clickedPub.name}}</div>
      <div class="half-popup-line-right">{{clickedPub.type}}</div>

    </div>

    <div class="row">
      <div class="popup-line">{{clickedPub.description}}</div>

    </div>
  </div>

  <div>
    <!--<button class="button popup-button" ng-click="closePopup()">OK</button>-->
    <a class="button button-icon ion-checkmark-circled popup-button" ng-click="closePopup()"></a>
  </div>
</div>
